In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [16]:
df=pd.read_csv("data.csv")
df

    age  insurance
0    22          0
1    25          0
2    47          1
3    52          0
4    46          1
5    56          1
6    55          0
7    60          1
8    62          1
9    61          1
10   18          0
11   28          0
12   27          0
13   29          0
14   49          1

In [4]:
from sklearn.model_selection import train_test_split

In [40]:
x_train,x_test,y_train,y_test=train_test_split(df[['age']],df.insurance,test_size=0.2)
x_train

    age
5    56
2    47
14   49
7    60
13   29
0    22
10   18
1    25
9    61
4    46
3    52
12   27

In [41]:
y_train

5     1
2     1
14    1
7     1
13    0
0     0
10    0
1     0
9     1
4     1
3     0
12    0
Name: insurance, dtype: int64

In [42]:
reg= LogisticRegression()
reg.fit(x_train,y_train)

LogisticRegression()

In [43]:
reg.score(x_test,y_test)

0.6666666666666666